<article>
  <h2>{{title}}</h2>
  <p class="post-meta">
    Posted by {{user.username}} on {{createdAt}}
  </p>
  <p>{{content}}</p>
  {{#if comments.length}}
    <a href="/posts/{{id}}">View comments</a>
  {{/if}}
</article>
