{{#> main pageTitle="Dashboard"}}
  <h1>My Posts</h1>
  {{#if posts.length}}
    {{#each posts}}
      <article>
        <h2>{{title}}</h2>
        <p class="post-meta">
          Posted on {{createdAt}}
        </p>
        <p>{{content}}</p>
        <div>
          <a href="/dashboard/edit/{{id}}">Edit</a>
          <form action="/api/posts/{{id}}" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </article>
    {{/each}}
  {{else}}
    <p>You have no posts yet.</p>
  {{/if}}
  <a href="/dashboard/new">New Post</a>
{{/main}}
