{{#> main pageTitle="Home"}}
  <h1>All Posts</h1>
  {{#each posts}}
    <article>
      <h2>{{title}}</h2>
      <p class="post-meta">
        Posted by {{user.username}} on {{createdAt}}
      </p>
      <p>{{content}}</p>
      {{#if comments.length}}
        <h3>Comments</h3>
        {{#each comments}}
          <p class="comment-meta">
            Comment by {{user.username}} on {{createdAt}}
          </p>
          <p>{{comment_text}}</p>
        {{/each}}
      {{else}}
        <p>No comments yet</p>
      {{/if}}
      {{#if ../loggedIn}}
        <form action="/api/comments" method="POST">
          <input type="hidden" name="post_id" value="{{id}}">
          <textarea name="comment_text" placeholder="Add a comment"></textarea>
          <button type="submit">Submit</button>
        </form>
      {{/if}}
    </article>
  {{/each}}
{{/main}}
