{{#if loggedIn}}
  <h2>Welcome to your dashboard, {{username}}!</h2>
{{else}}
  <h2>You must be logged in to view this page.</h2>
{{/if}}

<div>
  <h3>Your Posts:</h3>
  {{#if posts.length}}
    {{#each posts}}
      <div>
        <h4>{{title}}</h4>
        <p>Created on {{createdAt}}</p>
        <p>By {{user.username}}</p>
        <a href="/dashboard/post/{{id}}">Edit</a>
        <form action="/api/posts/{{id}}" method="post">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    {{/each}}
  {{else}}
    <p>You have not created any posts yet.</p>
  {{/if}}
</div>

<a href="/dashboard/newpost">Create a New Post</a>
