<div class="card mb-5">
  <div class="card-body">
    <h3 class="card-title mb-4">My Posts</h3>
    <div class="list-group">
      {{#each posts}}
      <a href="/post/{{id}}" class="list-group-item list-group-item-action">{{title}} ({{createdAt}})</a>
      {{/each}}
    </div>
    <a href="/dashboard/new" class="btn btn-primary mt-3">New Post</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title mb-4">My Replies</h3>
    <div class="list-group">
      {{#each comments}}
      <a href="/post/{{Post.id}}" class="list-group-item list-group-item-action">{{content}} ({{createdAt}})</a>
      {{/each}}
    </div>
  </div>
</div>

