<h2>{{post.title}}</h2>
<p>Created by {{post.user.username}} on {{moment(post.createdAt).format("MMM D, YYYY")}}</p>
<p>{{{post.content}}}</p>

<hr>

{{#if comments.length}}
  <h3>Comments:</h3>
  {{#each comments}}
    <div>
      <p>Comment by {{this.user.username}} on {{moment(this.createdAt).format("MMM D, YYYY")}}</p>
      <p>{{{this.content}}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No comments yet.</p>
{{/if}}

<hr>

{{#if loggedIn}}
  <form action="/api/comments/{{post.id}}" method="post">
    <h3>Leave a Comment</h3>
    <div>
      <label for="content">Content:</label>
      <textarea id="content" name="content" rows="5" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
{{else}}
  <p>Please <a href="/login">login</a> to leave a comment.</p>
{{/if}}


